<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: rgb(30, 103, 116);">
            <h1 class="display-4 text center" style=" color: rgb(119, 113, 113);">Spark Bank</h1>
            <h2 style="font-family: 'Dancing Script', cursive;">"Welcome to the most safe and advanced banking service!"</h2>
        </div>
        <div class="container " style="margin-left:150px;">
            <div class="row">
                <div class="col-md-4 col-sm-6 p-4">
                    <h2 class="text-dark"><i class="fas fa-wallet"></i></h2>
                    <h2 class="text-light bg-dark">Account Management</h2>
                    <p class="text-info">All accounts are displayed clearly in one place.</p>
                </div>

                <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4">
                    <h2 class="text-dark"><i class="far fa-credit-card"></i></h2>
                    <h2 class="text-light bg-dark">Card Management</h2>
                    <p class="text-info">Users will never lose track of their card's balance thanks to this handy, smooth looking panel.</p>
                </div>
            </div>


        </div>

    </div>

    </div>